<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<h1>Editing Book</h1>

<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
    <label for="book_title">Title</label>
    <div class="field"><%= f.text_field :title %></div>
    <label for="book_title">Body</label>
    <div class="field"><%= f.text_area :body %></div>
    <div class="action"><%= f.submit 'Update Book' %></div>
    <%=link_to "Show", book_path(@book) %>
    <%=link_to 'Back', "/books" %>
<% end %>